<!DOCTYPE html>
<html lang="en">
    <head>
        <title> Creating a HTML5 site </title>
    </head>
    <body>
        <h1> Heading1 </h1>
        <p>Click this to visit (<a href="https://www.ibm.com">IBM</a>)</p>
        <ul>
        <img src = "https://upload.wikimedia.org/wikipedia/commons/7/7e/Thomas_J_Watson_Sr.jpg" width="300" height="300">
        <li>Note 1 </li>
        <li>Note2 </li>
        <li>Note3</li>
        </ul>
    <p><strong>My Table</strong></p>
    <table>
    	<tr>
        	<th>Year </th>
            <th>Employees </th>
            <th>Gross Income (In m$) </th>
        </tr>
        <tr>
        	<td>1925</td>
            <td>3698</td>
            <td>13</td>
        </tr>
        <tr>
        	<td>1930</td>
            <td>6346</td>
            <td>19 </td>
        </tr>
        <tr>
        	<td>1935</td>
            <td>8651</td>
            <td>21</td>
        </tr>
        
	</table>
    </body>
</html>